@page "/"

<PageTitle>McPeakDev - Home</PageTitle>

<div class="d-flex flex-align-center full-height">
    <div>
        <MudText Typo="Typo.h4" GutterBottom="true">Hello, my name is</MudText>
        <MudText Class="bold animate__animated animate__delay-1s animate__pulse" Typo="Typo.h2" GutterBottom="true" Color="Color.Primary">Matthew McPeak</MudText>
        <MudText Typo="Typo.h5" GutterBottom="true">I'm a Full-Stack Developer</MudText>
        <div class="small-paragraph">    
            <MudText Typo="Typo.subtitle1" GutterBottom="true">
                I design and develop applications and services for all sorts of use cases. Currently, I am building local and state government payments systems and kiosks at   
                <MudLink Href="https://www.bisonline.com/" Target="_blank" Underline="Underline.Always">Business Information Systems</MudLink>.
            </MudText>
        </div>
    </div>
    <div class="ma-6">
        <MudImage  Style="background-color: rgb(0,43,78);" ObjectFit="ObjectFit.Cover" Height="400" Width="400" Src="https://avatars.githubusercontent.com/u/35775195?v=4" Elevation="25" Class="rounded animate__animated animate__delay-1s animate__pulse"/>
    </div>
</div>

